.add-activity-btn{
  background-color: #EC255A !important;
  width: 328px;
  height: 49px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  color: antiquewhite;
}

.add-activity-btn:hover{
  background-color: #f097ac !important;
}

textarea{
  resize: none;
}