.registration {
    display: absolute;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(56, 59, 129, 1) 0%, rgba(255, 203, 215, 1) 100%);
}

.registraion-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regis-form {
    padding-top: 0.5rem;
}

#register-button {
    background-color: #EC255A;
    color:aliceblue;
    border: 0;
    border-radius: 5px;
    height: 3rem;
    width: 28vw;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 2rem;
}

.regis-form input {
    height: 2.8rem;
    width: 28vw;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    font-size: 1rem;
    padding-left: 10px;
}

.regis-form span {
    font-size: 0.8rem;
    text-align: left;
    margin: 0;
    color: rgb(28, 28, 28);
    font-weight: bold;
}

#registration-img {
    width: 50%;
    height: 720px;
    /* background-color: #FFCBD7; */
    display: flex;
    justify-content: center;
}

#registration-img img {
    width: 70%;
}

